@using mvc__bilet_5.Models;
@model List<Designs>

@{
    int count = 0;
}

<div class="container">
    <a class="btn btn-primary" asp-action="Create">Create</a>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td><img width="100px" src="/Upload/@item.ImgUrl" /></td>
                    <td>
                        <a class="btn btn-dark" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>